<!doctype html>
<html lang="<%= I18n.locale.to_s.split('-').first %>">
    <head>
        <meta charset="utf-8">
        <title><%= I18n.t(:'title.graphics').strip %></title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="<%= I18n.t(:'meta.graphics.description').strip %>">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="<%= I18n.t(:'meta.graphics.twitter.title').strip %>">
        <meta name="twitter:description" content="<%= I18n.t(:'meta.graphics.twitter.description').strip %>">
        <meta name="twitter:image" content="https://www.bitcoincash.org/img/bitcoincash-twitter.png">
        <meta property="og:title" content="<%= I18n.t(:'meta.graphics.og.title').strip %>">
        <meta property="og:description" content="<%= I18n.t(:'meta.graphics.og.description').strip %>">
        <meta property="og:image" content="https://www.bitcoincash.org/img/bitcoincash.png">
        <link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/stack-interface.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/socicon.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/theme.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/lang.css" rel="stylesheet" type="text/css" media="all" />
        <link href="/css/custom.css?v=1" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i&subset=latin,latin-ext" rel="stylesheet">
        <!-- Global Site Tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-17656782-2"></script>
        <script>
window.dataLayer = window.dataLayer || [];
function gtag(){dataLayer.push(arguments)};
gtag('js', new Date());

gtag('config', 'UA-17656782-2');
        </script>
    </head>
    <body class=" ">
        <a id="start"></a>
        <div class="nav-container">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-3 col-sm-2">
                            <a href="/">
                                <img class="logo logo-dark" alt="<%= I18n.t(:'misc.logo').strip %>" src="/img/logo-dark.png" />
                            </a>
                        </div>
                        <div class="col-xs-9 col-sm-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs" style="min-height: 90px;">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3 col-sm-3 hidden-xs">
                            <div class="bar__module">
                                <a href="/">
                                    <img class="logo logo-dark" alt="<%= I18n.t(:'misc.logo').strip %>" src="/img/logo-dark.png" />
                                </a>
                            </div>
                        </div>
                        <div class="col-md-9 col-sm-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-left">
                                    <li>
                                        <a href="/#about" class="inner-link">
                                            <%= I18n.t(:'sections.about').strip %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/#features" class="inner-link">
                                            <%= I18n.t(:'sections.features').strip %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/#nodes" class="inner-link">
                                            <%= I18n.t(:'sections.nodes').strip %>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="/#wallets" class="inner-link">
                                            <%= I18n.t(:'sections.wallets').strip %>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <span class="dropdown__trigger"><%= I18n.t(:'sections.community').strip %></span>
                                        <div class="dropdown__container">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="dropdown__content col-md-<%= I18n.t('misc.dropdown_md_width') %> col-sm-<%= I18n.t('misc.dropdown_sm_width') %>">
                                                        <ul class="menu-vertical">
                                                            <li>
                                                                <a href="/#services" class="inner-link">
                                                                    <%= I18n.t(:'sections.services').strip %>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/#projects" class="inner-link">
                                                                    <%= I18n.t(:'sections.projects').strip %>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="/#exchanges" class="inner-link">
                                                                    <%= I18n.t(:'sections.exchanges').strip %>
                                                                </a>
                                                            </li>
                                                            <li>
                                                                <a href="#" class="inner-link">
                                                                    <%= I18n.t(:'sections.graphics').strip %>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <a href="/#faq" class="inner-link">
                                            <%= I18n.t(:'sections.faq').strip %>
                                        </a>
                                    </li>
                                    <li class="dropdown">
                                        <span class="dropdown__trigger"><%= I18n.t(:language).strip %></span>
                                        <div class="dropdown__container">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="dropdown__content lang-menu">
                                                        <%-
                                                            I18n.available_locales.map { |locale|
                                                              [locale, I18n.t(:language, :locale => locale).strip]
                                                            }
                                                            .sort_by { |pair| pair[1] }
                                                            .each_slice(7) do |group|
                                                        -%>
                                                        <ul class="menu-vertical">
                                                            <%- group.each do |pair| -%>
                                                            <li>
                                                                <a href="/<%= pair[0].to_s.downcase %>/graphics/">
                                                                <%= pair[1] %>
                                                                </a>
                                                            </li>
                                                            <%- end -%>
                                                        </ul>
                                                        <%- end -%>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="main-container">
            <footer class="space--xs footer-1">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6">
                            <span class="type--fine-print">&copy;<span class="update-year"></span> bitcoincash.org</span>
                        </div>
                        <div class="col-sm-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://www.facebook.com/bitcoincashorg" target="_blank">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.reddit.com/r/Bitcoincash/" target="_blank">
                                        <i class="socicon socicon-reddit icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://github.com/bitcoincashorg/website" target="_blank">
                                        <i class="socicon socicon-github icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="/js/jquery-3.1.1.min.js"></script>
        <script src="/js/smooth-scroll.min.js"></script>
        <script src="/js/scripts.js"></script>
        <script src="/js/fontawesome.js"></script>
        <script src="/js/packs/solid.js"></script>
        <script src="/js/ticker.js?v=2"></script>
    </body>
</html>
