<!doctype html>
<html lang="<%= I18n.locale.to_s.split('-').first %>">
  <head>
    <meta charset="utf-8">
    <title><%= I18n.t(:'title.index').strip %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= I18n.t(:'meta.index.description').strip %>">
    <meta name="thumbnail" content="https://www.bitcoincash.org/img/bitcoincash-twitter.webp">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="<%= I18n.t(:'meta.index.twitter.title').strip %>">
    <meta name="twitter:description" content="<%= I18n.t(:'meta.index.twitter.description').strip %>">
    <meta name="twitter:image" content="https://www.bitcoincash.org/img/bitcoincash-twitter.webp">
    <meta property="og:title" content="<%= I18n.t(:'meta.index.og.title').strip %>">
    <meta property="og:description" content="<%= I18n.t(:'meta.index.og.description').strip %>">
    <meta property="og:image" content="https://www.bitcoincash.org/img/bitcoincash-twitter.webp">
    <%- if ['ar', 'fa'].include?(I18n.locale.to_s.split('-').first) -%>
      <style>
        section { direction: rtl; }
      </style>
    <%- end -%>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link href="/css/deps.min.css?v=<%= Digest::SHA256.file 'html/css/deps.min.css' %>" rel="stylesheet" type="text/css" media="all" />
    <link href="/css/theme.min.css?v=<%= Digest::SHA256.file 'html/css/theme.min.css' %>" rel="stylesheet" type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet" type="text/css" media="all" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-4P1RG1J9TQ"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-4P1RG1J9TQ');
    </script>
  </head>
  <body>
    <a id="start"></a>
    <header id="fh5co-header">
      <div class="container">
        <nav class="navbar navbar-default">
          <div class="navbar-header">
            <a href="#" id="expander" class="js-fh5co-nav-toggle fh5co-nav-toggle" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar"><i></i></a>
            <a class="navbar-brand" href="/">
              <img loading="lazy" src="/img/bitcoin-cash-logo-horizontal-wt.svg" alt="Bitcoin Cash" class="lightit">
              <img loading="lazy" src="/img/bitcoin-cash-logo-horizontal.svg" alt="Bitcoin Cash" class="darkit">
            </a>
          </div>
          <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right homepage">
              <li>
                <a href="#about" data-nav-section="about" class="inner-link">
                  <span><%= I18n.t(:'sections.about').strip %></span>
                </a>
              </li>
              <li>
                <a href="#wallets" data-nav-section="wallets" class="inner-link">
                  <span><%= I18n.t(:'sections.wallets').strip %></span>
                </a>
              </li>
              <%- if !I18n.t(:'content.why').is_a?(String) -%>
                <li>
                  <a href="#why" data-nav-section="why" class="inner-link">
                    <span><%= I18n.t(:'sections.benefits').strip %></span>
                  </a>
                </li>
              <%- else -%>
                <li>
                  <a href="#why" data-nav-section="faq" class="inner-link">
                    <span><%= I18n.t(:'sections.faq').strip %></span>
                  </a>
                </li>
              <%- end -%>
              <li>
                <a href="#nodes" data-nav-section="nodes" class="inner-link">
                  <span><%= I18n.t(:'sections.nodes').strip %></span>
                </a>
              </li>
              <li class="dropdown">
                <span class="dropdown__trigger"><%= I18n.t(:'sections.community').strip %></span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content col-md-<%= I18n.t(:'misc.dropdown_md_width') %> col-sm-<%= I18n.t(:'misc.dropdown_sm_width') %>">
                        <ul class="menu-vertical">
                          <li>
                            <a href="#services" data-nav-section="services" class="inner-link">
                              <%= I18n.t(:'sections.services').strip %>
                            </a>
                          </li>
                          <li>
                            <a href="#projects" data-nav-section="projects" class="inner-link">
                              <%= I18n.t(:'sections.projects').strip %>
                            </a>
                          </li>
                          <%- if I18n.exists?(:'sections.smartbch') -%>
                            <li>
                              <a href="#smartbch" data-nav-section="smartbch" >
                                <%= I18n.t(:'sections.smartbch').strip %>
                              </a>
                            </li>
                          <%- end -%>
                          <li>
                            <a href="#exchanges" data-nav-section="exchanges" class="inner-link">
                              <%= I18n.t(:'sections.exchanges').strip %>
                            </a>
                          </li>
                          <%- if I18n.exists?(:'sections.graphics') -%>
                            <li>
                              <a href="graphics/" class="external">
                                <%= I18n.t(:'sections.graphics').strip %>
                              </a>
                            </li>
                          <%- end -%>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </li>
              <li class="dropdown">
                <span class="dropdown__trigger"><%= I18n.t(:language).strip %></span>
                <div class="dropdown__container">
                  <div class="container">
                    <div class="row">
                      <div class="dropdown__content lang-menu">
                        <%-
                            I18n.available_locales.map do |locale|
                                [locale, I18n.t(:language, :locale => locale).strip] unless locale == :tl
                            end.compact.sort_by { |pair| pair[1] }.each_slice(8) do |group|
                        -%>
                        <ul class="menu-vertical">
                          <%- group.each do |pair| -%>
                            <li>
                              <a href="/<%= pair[0].to_s.downcase %>/" class="external">
                                <%= pair[1] %>
                              </a>
                            </li>
                          <%- end -%>
                        </ul>
                      <%- end -%>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </header>
  <section id="fh5co-home" data-section="home" class="home site-header">
    <div class="container">
      <div class="row">
        <div class="col-xs-8 col-xs-offset-2 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 text-center hero-logo">
          <img loading="lazy" alt="<%= I18n.t(:'layout.bitcoin_cash').strip %>" src="/img/bitcoin-cash-logo-wt.svg">
          <h1 class="lead">
            <%= I18n.t(:'layout.lead').strip %>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 ticker text-center">
          <span id="ticker_value"><%= I18n.t(:'layout.loading').strip %></span>
        </div>
      </div>
    </div>
    <div class="gap"></div>
  </section>
  <div class="main-container" id="home-section">
    <section class="space--xxs no-bottom" id="about-section" data-section="about">
      <div class="container benefits">
        <div class="row text-center">
          <div class="col-sm-4 col-md-4">
            <p><i class="fa fa-bolt fa-fw fa-2x"></i></p>
            <p><strong><%= I18n.t(:'features')[0][:title].strip %></strong></p>
            <p><%= I18n.t(:'features')[0][:description].strip %></p>
          </div>
          <div class="col-sm-4 col-md-4">
            <p><i class="fa fa-thumbs-up fa-fw fa-2x"></i></p>
            <p><strong><%= I18n.t(:'features')[1][:title].strip %></strong></p>
            <p><%= I18n.t(:'features')[1][:description].strip %></p>
          </div>
          <div class="col-sm-4 col-md-4">
            <p><i class="fa fa-arrow-alt-circle-down fa-fw fa-2x"></i></p>
            <p><strong><%= I18n.t(:'features')[2][:title].strip %></strong></p>
            <p><%= I18n.t(:'features')[2][:description].strip %></p>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-sm-4 col-md-4">
            <p><i class="fa fa-check fa-fw fa-2x"></i></p>
            <p><strong><%= I18n.t(:'features')[3][:title].strip %></strong></p>
            <p><%= I18n.t(:'features')[3][:description].strip %></p>
          </div>
          <div class="col-sm-4 col-md-4">
            <p><i class="fa fa-cubes fa-fw fa-2x"></i></p>
            <p><strong><%= I18n.t(:'features')[4][:title].strip %></strong></p>
            <p><%= I18n.t(:'features')[4][:description].strip %></p>
          </div>
          <div class="col-sm-4 col-md-4">
            <p><i class="fa fa-lock fa-fw fa-2x"></i></p>
            <p><strong><%= I18n.t(:'features')[5][:title].strip %></strong></p>
            <p><%= I18n.t(:'features')[5][:description].strip %></p>
          </div>
        </div>
      </div>
    </section>
    <a id="about"></a>
    <section class="space--xxs" data-section="about2" id="about2-section">
      <div class="container">
        <div class="row text-center section-heading">
          <div class='col-sm-12'>
            <h2><%= I18n.t(:'headings.about').strip %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <%= I18n.t(:'content.about').map { |c| "<p>#{c.strip}</p>" }.join("\n#{' ' * 14}") %>
          </div>
        </div>
      </div>
    </section>
    <a id="wallets"></a>
    <section class="space--xxs text-center gray border-bottom" id="wallets-section" data-section="wallets">
      <div class="container wallets">
        <div class="row">
          <div class="col-xs-12 section-heading ">
            <h2><%= I18n.t(:'headings.wallets').strip %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://electroncash.org/" target="_blank"><img loading="lazy" alt="Electron Cash" src="/img/wallets/electroncash.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://cashonize.com/" target="_blank"><img loading="lazy" alt="Cashonize" src="/img/wallets/cashonize.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://www.paytaca.com/" target="_blank"><img loading="lazy" alt="Paytaca" src="/img/wallets/paytaca.svg"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://zapit.io/" target="_blank"><img loading="lazy" alt="Zapit" src="/img/wallets/zapit.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://wallet.bitcoin.com/" target="_blank"><img loading="lazy" alt="Bitcoin.com" src="/img/wallets/bitcoindotcom.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://selene.cash/" target="_blank"><img loading="lazy" alt="Selene" src="/img/wallets/selene.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://edgesecure.co/" target="_blank"><img loading="lazy" alt="Edge" src="/img/wallets/edge.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://stackwallet.com/" target="_blank"><img loading="lazy" alt="Stack Wallet" src="/img/wallets/stack.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://cakewallet.com/" target="_blank"><img loading="lazy" alt="Cake Wallet" src="/img/wallets/cake.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://flowee.org/products/pay/" target="_blank"><img loading="lazy" alt="Flowee Pay" src="/img/wallets/floweepay.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://bitpay.com/wallet" target="_blank"><img loading="lazy" alt="Bitpay Wallet" src="/img/wallets/bitpay.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="http://www.ledgerwallet.com/" target="_blank"><img loading="lazy" alt="Ledger" src="/img/wallets/ledger.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://wallet.trezor.io/" target="_blank"><img loading="lazy" alt="Trezor" src="/img/wallets/trezor.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://shapeshift.com/keepkey" target="_blank"><img loading="lazy" alt="KeepKey" src="/img/wallets/keepkey.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://satochip.io/" target="_blank"><img loading="lazy" alt="KeepKey" src="/img/wallets/satochip.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://xdefi.io" target="_blank"><img loading="lazy" alt="XDEFI Wallet" src="/img/wallets/xdefi.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://www.exodus.io/" target="_blank"><img loading="lazy" alt="Exodus" src="/img/wallets/exodus.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://viawallet.com/" target="_blank"><img loading="lazy" alt="ViaWallet" src="/img/wallets/viawallet.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://coin.space/" target="_blank"><img loading="lazy" alt="Coin Space" src="/img/wallets/coinspace.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://guarda.com/" target="_blank"><img loading="lazy" alt="Guarda Wallet" src="/img/wallets/guarda.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://coinomi.com/" target="_blank"><img loading="lazy" alt="Coinomi" src="/img/wallets/coinomi.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://cashaddress.org/" target="_blank"><img loading="lazy" alt="Cash Address" src="/img/wallets/cashaddress.webp"></a>
          </div>
          <div class="col-sm-6 col-md-3 vertical-align">
            <a href="https://www.whalesheaven.com/whcypher" target="_blank"><img loading="lazy" alt="WH Cypher" src="/img/wallets/whcypher.webp"></a>
          </div>
        </div>
      </div>
    </section>
    <%- if !I18n.t(:'content.faq').is_a?(String) -%>
      <a id="faq"></a>
      <section class="space--xxs" id="faq-section" data-section="faq">
        <div class="container">
          <div class="row text-center">
            <div class="col-xs-12 section-heading">
              <h2><%= I18n.t(:'headings.faq').strip %></h2>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <% I18n.t(:'content.faq').each do |qa| %><%= ' ' * 16 %>
                <p class="question"><%= qa[:question].strip %></p>
                <%= qa[:answer].map { |a| "<p>#{a.strip}</p>" }.join("\n#{' ' * 14}") %>
              <%- end -%>
            </div>
          </div>
        </div>
      </div>
    </section>
  <%- end -%>
  <a id="why"></a>
  <%- if !I18n.t(:'content.why').is_a?(String) -%>
    <section class="space--xxs" id="why-section" data-section="why">
      <div class="container">
        <div class="row text-center">
          <div class="col-xs-12 section-heading">
            <h2><%= I18n.t(:'headings.why').strip %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%- I18n.t(:'content.why').each do |qa| -%>
              <p class="question"><%= qa[:benefit].strip %></p>
              <%= qa[:descrip].map { |a| "<p>#{a.strip}</p>" }.join("\n#{' ' * 14}") %>
            <%- end -%>
          </div>
        </div>
      </div>
    </section>
  <%- end -%>
  <%- if !I18n.t(:'content.benefits').is_a?(String) -%>
    <section class="space--xxs" id="merchant-benefits-section" data-section="benefits">
      <div class="container">
        <div class="row text-center">
          <div class="col-xs-12 section-heading">
            <h2><%= I18n.t(:'headings.benefits').strip %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <%- I18n.t(:'content.benefits').each do |qa| -%>
              <p class="question"><%= qa[:benefit].strip %></p>
              <%= qa[:descrip].map { |a| "<p>#{a.strip}</p>" }.join("\n#{' ' * 14}") %>
            <%- end -%>
          </div>
        </div>
      </div>
    </section>
  <%- end -%>
  <%- if !I18n.t(:'content.history').is_a?(String) -%>
    <section class="space--xxs" id="history-section"  data-section="history">
      <div class="container">
        <div class="row text-center">
          <div class='col-sm-12 section-heading '>
            <h2><%= I18n.t(:'headings.history').strip %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <%= I18n.t(:'content.history').map { |c| "<p>#{c.strip}</p>" }.join("\n#{' ' * 14}") %>
          </div>
        </div>
      </div>
    </section>
  <%- end -%>
  <%- if !I18n.t(:'content.development').is_a?(String) -%>
    <section class="space--xxs" id="development-section"  data-section="development">
      <div class="container">
        <div class="row text-center">
          <div class='col-sm-12 section-heading '>
            <h2><%= I18n.t(:'headings.development').strip %></h2>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
            <%= I18n.t(:'content.development').map { |c| "<p>#{c.strip}</p>" }.join("\n#{' ' * 14}") %>
          </div>
        </div>
      </div>
    </section>
  <%- end -%>
  <a id="nodes"></a>
  <section class="space--xxs text-center gray border-bottom" id="nodes-section"  data-section="nodes">
    <div class="container nodes">
      <div class="row">
        <div class="col-xs-12 section-heading ">
          <h2><%= I18n.t(:'headings.nodes').strip %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6 col-md-6 vertical-align">
          <a href="https://bitcoincashnode.org" target="_blank"><img loading="lazy" alt="Bitcoin Cash Node" src="/img/wallets/bitcoincashnode.webp"></a>
        </div>
        <div class="col-sm-6 col-md-6 vertical-align">
          <a href="https://www.bitcoinunlimited.info" target="_blank"><img loading="lazy" alt="Bitcoin Unlimited" src="/img/wallets/bitcoinunlimited.webp"></a>
        </div>
        <div class="col-sm-6 col-md-6 vertical-align">
          <a href="https://bitcoinverde.org" target="_blank"><img loading="lazy" alt="Bitcoin Verde" src="/img/wallets/bitcoinverde.webp"></a>
        </div>
        <div class="col-sm-6 col-md-6 vertical-align">
          <a href="https://kth.cash" target="_blank"><img loading="lazy" alt="Knuth" src="/img/wallets/knuth.webp"></a>
        </div>
      </div>
    </div>
  </section>
  <a id="services"></a>
  <section class="space--xxs text-center gray border-bottom" id="services-section"  data-section="services">
    <div class="container services">
      <div class="row">
        <div class="col-xs-12 section-heading ">
          <h2><%= I18n.t(:'headings.services').strip %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bitpay.com" target="_blank"><img loading="lazy" alt="Bitpay" src="/img/wallets/bitpay.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://gocrypto.com/" target="_blank"><img loading="lazy" alt="GoCrypto" src="/img/services/gocrypto.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://commerce.coinbase.com" target="_blank"><img loading="lazy" alt="Coinbase Commerce" src="/img/services/coinbasecommerce.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://map.bitcoin.com" target="_blank"><img loading="lazy" alt="Bitcoin.com Maps" src="/img/services/bitcoincommaps.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.bitgree.com/" target="_blank"><img loading="lazy" alt="Bitgree" src="/img/services/bitgree.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://read.cash/" target="_blank"><img loading="lazy" alt="read.cash" src="/img/services/readcash.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://noise.app/" target="_blank"><img loading="lazy" alt="noise.app" src="/img/services/noisecash.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://memo.cash/" target="_blank"><img loading="lazy" alt="memo.cash" src="/img/services/memocash.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bch.games/" target="_blank"><img loading="lazy" alt="BCH.games" src="/img/services/bchgames.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://lazyfox.io/" target="_blank"><img loading="lazy" alt="Lazyfox" src="/img/services/lazyfox.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="http://www.chaintip.org" target="_blank"><img loading="lazy" alt="ChainTip" src="/img/services/chaintip.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://detoken.net/" target="_blank"><img loading="lazy" alt="Detoken" src="/img/services/detoken.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://cheapair.com/" target="_blank"><img loading="lazy" alt="CheapAir" src="/img/services/cheapair.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://namecheap.com/" target="_blank"><img loading="lazy" alt="Namecheap" src="/img/services/namecheap.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://blockchair.com/" target="_blank"><img loading="lazy" alt="Blockchair" src="/img/services/blockchair.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://cash.coin.dance/" target="_blank"><img loading="lazy" alt="Coin Dance" src="/img/services/coindance.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://txstreet.com/v/bch-btc" target="_blank"><img loading="lazy" alt="TxStreet" src="/img/services/txstreet.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://fork.lol" target="_blank"><img loading="lazy" alt="Fork.lol" src="/img/services/forklol.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.alfatop.me" target="_blank"><img loading="lazy" alt="ALFAtop" src="/img/services/alfatopme.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://alagoria.com/" target="_blank"><img loading="lazy" alt="Alagoria" src="/img/services/alagoria.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://visionati.com" target="_blank"><img loading="lazy" alt="Visionati" src="/img/services/visionati.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://satoshidice.com/" target="_blank"><img loading="lazy" alt="Satoshi Dice" src="/img/services/satoshidice.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://solomonpierce.com/" target="_blank"><img loading="lazy" alt="Solomon Pierce" src="/img/services/solomonpierce.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://rocketr.net/" target="_blank"><img loading="lazy" alt="Rocketr" src="/img/services/rocketr.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.coinpayments.net/" target="_blank"><img loading="lazy" alt="CoinPayments" src="/img/services/coinpayments.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://coingate.com/" target="_blank"><img loading="lazy" alt="CoinGate" src="/img/services/coingate.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://gourl.io/" target="_blank"><img loading="lazy" alt="GoUrl" src="/img/services/gourl.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.alfacoins.com" target="_blank"><img loading="lazy" alt="ALFAcoins" src="/img/services/alfacoins.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.livingroomofsatoshi.com/?sc=bch" target="_blank"><img loading="lazy" alt="Living Room Of Satoshi" src="/img/services/livingroomofsatoshi.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://pompler.com" target="_blank"><img loading="lazy" alt="Pompler" src="/img/services/pompler.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.viabtc.com/" target="_blank"><img loading="lazy" alt="ViaBTC" src="/img/services/viabtc.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://simpleledger.info/" target="_blank"><img loading="lazy" alt="SLP Explorer" src="/img/services/slpexplorer.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.wmtransfer.com/" target="_blank"><img loading="lazy" alt="Web Money" src="/img/services/webmoney.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bitcoin-india.org/" target="_blank"><img loading="lazy" alt="Bitcoin India" src="/img/services/bitcoinindia.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.menufy.com/" target="_blank"><img loading="lazy" alt="Menufy" src="/img/services/menufy.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://card.coinbase.com/" target="_blank"><img loading="lazy" alt="Coinbase Card" src="/img/services/coinbasecard.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://nexo.io/" target="_blank"><img loading="lazy" alt="Nexo" src="/img/services/nexo.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.egifter.com/" target="_blank"><img loading="lazy" alt="eGifter" src="/img/services/egifter.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://prompt.cash/" target="_blank"><img loading="lazy" alt="Prompt.Cash" src="/img/services/promptcash.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.satoshisangels.com/" target="_blank"><img loading="lazy" alt="Satoshi's Angels" src="/img/services/satoshisangels.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://coinrabbit.io/" target="_blank"><img loading="lazy" alt="Coin Rabbit" src="/img/services/coinrabbit.svg"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://onlycoins.com/" target="_blank"><img loading="lazy" alt="Onlycoins" src="/img/services/onlycoins.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://zabo.com/" target="_blank"><img loading="lazy" alt="Zabo" src="/img/services/zabo.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://nowpayments.io/" target="_blank"><img loading="lazy" alt="NOWPayments" src="/img/services/nowpayments.svg"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://coinremitter.com/" target="_blank"><img loading="lazy" alt="Coinremitter" src="/img/services/coinremitter.webp"></a>
        </div>
      </div>
    </div>
  </section>
  <a id="projects"></a>
  <section class="space--xxs text-center gray border-bottom" id="projects-section"  data-section="projects">
    <div class="container services">
      <div class="row">
        <div class="col-xs-12 section-heading ">
          <h2><%= I18n.t(:'headings.projects').strip %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://cashfusion.org/" target="_blank"><img loading="lazy" alt="CashFusion" src="/img/projects/cashfusion.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://cashtokens.org/" target="_blank"><img loading="lazy" alt="CashTokens" src="/img/projects/cashtokens.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://flipstarter.cash/" target="_blank"><img loading="lazy" alt="Flipstarter" src="/img/projects/flipstarter.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://cashscript.org/" target="_blank"><img loading="lazy" alt="CashScript" src="/img/projects/cashscript.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://anyhedge.com/" target="_blank"><img loading="lazy" alt="AnyHedge" src="/img/projects/anyhedge.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://chaingraph.cash/" target="_blank"><img loading="lazy" alt="Chaingraph" src="/img/projects/chaingraph.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://libauth.org/" target="_blank"><img loading="lazy" alt="Libauth" src="/img/projects/libauth.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://ide.bitauth.com/" target="_blank"><img loading="lazy" alt="Bitauth IDE" src="/img/projects/bitauth-ide.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://acceptbitcoin.cash" target="_blank"><img loading="lazy" alt="Accept Bitcoin Cash" src="/img/projects/acceptbitcoincash.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://eatbch.org/" target="_blank"><img loading="lazy" alt="EatBCH" src="/img/projects/eatbch.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://slp.dev/" target="_blank"><img loading="lazy" alt="SLP Dev" src="/img/projects/slpdev.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://givecrypto.org/" target="_blank"><img loading="lazy" alt="GiveCrypto" src="/img/projects/givecrypto.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bitcoincashresearch.org/" target="_blank"><img loading="lazy" alt="Bitcoin Cash Research" src="/img/projects/bitcoincashresearch.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://awesomebitcoin.cash/" target="_blank"><img loading="lazy" alt="Awesome Bitcoin Cash" src="/img/projects/awesomebitcoincash.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://fountainhead.cash/" target="_blank"><img loading="lazy" alt="Fountainhead" src="/img/projects/fountainhead.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://one.surgery/" target="_blank"><img loading="lazy" alt="One Surgery" src="/img/projects/onesurgery.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://spedn.pl/" target="_blank"><img loading="lazy" alt="Spedn" src="/img/projects/spedn.webp"></a>
        </div>
      </div>
    </div>
  </section>
  <a id="exchanges"></a>
  <section class="space--xxs text-center gray" id="exchanges-section"  data-section="exchanges">
    <div class="container exchanges">
      <div class="row">
        <div class="col-xs-12 section-heading ">
          <h2><%= I18n.t(:'headings.exchanges').strip %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://thorswap.finance/" target="_blank"><img loading="lazy" alt="THORSwap" src="/img/exchanges/thorswap.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.okx.com/" target="_blank"><img loading="lazy" alt="OKX" src="/img/exchanges/okx.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.coinbase.com/" target="_blank"><img loading="lazy" alt="Coinbase" src="/img/exchanges/coinbase.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://pro.coinbase.com/" target="_blank"><img loading="lazy" alt="Coinbase Pro" src="/img/exchanges/coinbasepro.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.binance.com/" target="_blank"><img loading="lazy" alt="Binance" src="/img/exchanges/binance.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bit.com/" target="_blank"><img loading="lazy" alt="Bit" src="/img/exchanges/bit.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.kraken.com/" target="_blank"><img loading="lazy" alt="Kraken" src="/img/exchanges/kraken.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.etoro.com/" target="_blank"><img loading="lazy" alt="eToro" src="/img/exchanges/etoro.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://buda.com/" target="_blank"><img loading="lazy" alt="Buda" src="/img/exchanges/buda.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://gemini.com/" target="_blank"><img loading="lazy" alt="Gemini" src="/img/exchanges/gemini.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://uphold.com/" target="_blank"><img loading="lazy" alt="Uphold" src="/img/exchanges/uphold.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://sideshift.ai/" target="_blank"><img loading="lazy" alt="Sideshift AI" src="/img/exchanges/sideshiftai.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://shapeshift.io/" target="_blank"><img loading="lazy" alt="ShapeShift" src="/img/exchanges/shapeshift.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.coinex.com/" target="_blank"><img loading="lazy" alt="Coinex" src="/img/exchanges/coinex.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://cex.io/" target="_blank"><img loading="lazy" alt="Cexio" src="/img/exchanges/cexio.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.korbit.co.kr/" target="_blank"><img loading="lazy" alt="Korbit" src="/img/exchanges/korbit.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.btcbox.co.jp/" target="_blank"><img loading="lazy" alt="BtcBox" src="/img/exchanges/btcbox.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://changelly.com/" target="_blank"><img loading="lazy" alt="Changelly" src="/img/exchanges/changelly.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://btcpop.co/" target="_blank"><img loading="lazy" alt="BTCPOP" src="/img/exchanges/btcpop.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://hitbtc.com/" target="_blank"><img loading="lazy" alt="HitBTC" src="/img/exchanges/hitbtc.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.bithumb.com/" target="_blank"><img loading="lazy" alt="Bithumb" src="/img/exchanges/bithumb.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bitcoinvn.io" target="_blank"><img loading="lazy" alt="BitcoinVN" src="/img/exchanges/bitcoinvietnam.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://coinone.co.kr/" target="_blank"><img loading="lazy" alt="Coinone" src="/img/exchanges/coinone.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://simplefx.com/" target="_blank"><img loading="lazy" alt="SimpleFX" src="/img/exchanges/simplefx.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bitflyer.jp/" target="_blank"><img loading="lazy" alt="bitFlyer" src="/img/exchanges/bitflyer.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://poloniex.com/" target="_blank"><img loading="lazy" alt="Poloniex" src="/img/exchanges/poloniex.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.bitcoin.de/" target="_blank"><img loading="lazy" alt="Bitcoin.de" src="/img/exchanges/bitcoinde.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://karsha.biz/" target="_blank"><img loading="lazy" alt="Karsha Exchange" src="/img/exchanges/karsha.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.independentreserve.com/" target="_blank"><img loading="lazy" alt="Independent Reserve" src="/img/exchanges/independentreserve.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://changenow.io/" target="_blank"><img loading="lazy" alt="ChangeNOW" src="/img/exchanges/changenow.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.bitstamp.net/" target="_blank"><img loading="lazy" alt="Bitstamp" src="/img/exchanges/bitstamp.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bestrate.org/" target="_blank"><img loading="lazy" alt="BestRate" src="/img/exchanges/bestrate.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://coinfalcon.com" target="_blank"><img loading="lazy" alt="CoinFalcon" src="/img/exchanges/coinfalcon.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://exmo.com" target="_blank"><img loading="lazy" alt="Exmo" src="/img/exchanges/exmo.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://coincheck.com" target="_blank"><img loading="lazy" alt="Coincheck" src="/img/exchanges/coincheck.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://crypto.com/" target="_blank"><img loading="lazy" alt="Crypto" src="/img/exchanges/crypto.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://www.matrixport.com/" target="_blank"><img loading="lazy" alt="Matrixport" src="/img/exchanges/matrixport.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://stealthex.io/" target="_blank"><img loading="lazy" alt="StealthEx" src="/img/exchanges/stealthex.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://bitvavo.com/en/bitcoin-cash" target="_blank"><img loading="lazy" alt="Bitvavo" src="/img/exchanges/bitvavo.webp"></a>
        </div>
        <div class="col-sm-4 col-md-3 vertical-align">
          <a href="https://swapzone.io" target="_blank"><img loading="lazy" alt="Swapzone" src="/img/exchanges/swapzone.webp"></a>
        </div>
        <div class="col-sm-6 col-md-3 vertical-align">
          <a href="https://www.whalesheaven.com/" target="_blank"><img loading="lazy" alt="WhalesHeaven" src="/img/exchanges/whalesheaven.webp"></a>
        </div>
        <div class="col-sm-6 col-md-3 vertical-align">
          <a href="https://simpleswap.io" target="_blank"><img loading="lazy" alt="SimpleSwap" src="/img/exchanges/simpleswap_blue.svg"></a>
        </div>
      </div>
    </div>
  </section>
  <footer class="space--xs footer-1">
    <div class="container">
      <div class="row">
        <div class="col-sm-6">
          <span class="type--fine-print">&copy;<span class="update-year"></span> bitcoincash.org</span>
        </div>
        <div class="col-sm-6 text-right text-center-xs">
          <ul class="social-list list-inline list--hover">
            <li>
              <a href="https://www.reddit.com/r/Bitcoincash/" target="_blank">
                <i class="socicon socicon-reddit icon icon--xs"></i>
              </a>
            </li>
            <li>
              <a href="https://github.com/zquestz/bitcoincash" target="_blank">
                <i class="socicon socicon-github icon icon--xs"></i>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>
<a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
  <i class="stack-interface stack-up-open-big"></i>
</a>
<script src="/js/modernizr-2.6.2.min.js"></script>
<script src="/js/jquery.min.js"></script>
<script src="/js/ticker.min.js?v=<%= Digest::SHA256.file 'html/js/ticker.min.js' %>" async></script>
<script src="/js/fontawesome.min.js"></script>
<script src="/js/solid.min.js"></script>
<script src="/js/jquery.easing.1.3.min.js"></script>
<script src="/js/jquery.stellar.min.js"></script>
<script src="/js/jquery.waypoints.min.js"></script>
<script src="/js/smooth-scroll.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/scripts.min.js?v=<%= Digest::SHA256.file 'html/js/scripts.min.js' %>"></script>
</body>
</html>
